# Core AI & Vision
opencv-python-headless
onnxruntime
numpy
pillow
ultralytics
torch
torchvision
timm
albumentations

# Web App & Utilities
streamlit
psutil
gTTS

# RAG & Embeddings
langchain
langchain-community
chromadb
sentence-transformers
pypdf